---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="section">
                    <h1 class="subtitle is-uppercase has-text-weight-medium has-text-grey">Projects</h1>
                    <h2 class="title has-text-grey-dark is-size-5" style="margin-bottom: 20px !important;">
                        Here you can see some of my side open source and study projects
                    </h2>
                </div>
                {% include project-card.html %}
            </div>
        </div>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>